div {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btns-panel {
  width: 500px;
  margin: 40px auto;
}

.button {
  margin: 30px;
}